body {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    height: 100vh; /* Устанавливаем высоту на 100% от высоты экрана */
    overflow: hidden; /* Убираем прокрутку, если она есть */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/photo/фон.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Полупрозрачность */
    z-index: -1; /* Размещаем слой позади содержимого */
}
