    body {
    background-color: #B4b4b4;
}

.form-label {
    text-align: center;
    position: absolute;
}



button {
    text-align: center;
    position: relative;
    top: 15px;
    font-size: 2em;
    border-radius: 20px;
    border: 2px solid black; /* Установлен цвет границы */
    background-color: #333333; /* Тёмно-серый фон */
    color: white; /* Цвет текста */
    
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Плавный переход */
}

button:hover {
    background-color: #000000; /* Чёрный фон при наведении */
    border-color: #555555; /* Тёмно-серая граница при наведении */
}

div {
    text-align: center;
    position: relative;
    top: 10px; /* Сдвиг элемента вниз */
    margin-top: 28px;
    font-size: 1em;
}

#participantsList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    font-size: 1.6em;
    text-align: center;
}

.participantsList li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Стиль для заголовка списка участников */
h2 {
    text-align: center;
   
}
 footer {
            background-color: #1e2143;
            color: #d6d8ee;
            text-align: center;
            padding: 20px;
            margin-top: 20px;
        }
/* Адаптация под планшеты */
@media (max-width: 768px) {
    button {
        font-size: 1.5em; /* Уменьшение размера кнопки */
      
    }

    div {
        font-size: 0.9em; /* Уменьшение текста внутри div */
        margin-top: 20px;
    }


/* Адаптация под смартфоны */
@media (max-width: 480px) {
    button {
        font-size: 1.2em; /* Ещё меньше для маленьких экранов */

    }

    div {
        font-size: 1.2em;
        margin-top: 35px;
    }